<div class="container">
    <div class="row min-height-content">

        <div class="col-sm-4" id='sidebar'>
           

        </div>

        <div class="col-sm-8" id='content-col'>

            <div class="row third-percent-min">
                <div class="col-sm-12" id='special-offers'>
                    
                </div>
            </div>

            <div class="row third-percent-min">
                <div class="col-sm-6">
                    half
                </div>

                <div class="col-sm-6">
                    half
                </div>
            </div>

            <div class="row third-percent-min">
                <div class="col-sm-4">
                    third
                </div>

                <div class="col-sm-4">
                    third
                </div>

                <div class="col-sm-4">
                    third
                </div>
            </div>

        </div>

    </div>
</div>